@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
    overflow: hidden;
}

.site-divider {
    border-bottom: 1px solid #2b2e31;
    padding: 0.5rem 0;
    /* Adjust the color as needed */
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flicker-glow {
    position: relative;
    width: 200px;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height */
    border-radius: 8px;
    /* Set the desired border radius */
    background-color: #fff;
    /* Set the desired background color */
}

.flicker-glow::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    animation: flicker 2s infinite;
}

.flicker-glow:hover::before {
    opacity: 1;
}

.parent {
    position: relative;
    display: inline-block;
}

.tooltip-slide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    position: absolute;
    right: auto;
    left: auto;
    margin-bottom: 0.5rem;
    width: 70px;
    background-color: slategray;
    color: #fff;
    padding: 0.3rem;
    border-radius: 0.5rem;
    bottom: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: auto;
    /* Dynamically adjust the width */
    white-space: nowrap;
    /* Prevent line breaks */
}

.parent:hover .tooltip-slide {
    visibility: visible;
    opacity: 1;
    animation: slidein 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}